<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <head>
            <link rel ="stylesheet" href="{% static 'myapp/styles.css' %}">
        </head>
    </head>
    <body>
        <nav class="bg-white shadow-lg">
            <div class="max-w-6xl mx-auto px-4">
                <div class ="flex justify-between">
                    <div class ="flex space-x-7 items-center">
                        <div>
                            <a href ="#"class ="flex px-2 py-4">
                            <img class="h-8 w-8" src="{% static 'myapp/images/shopping.png' %}" alt="logo">
                            <span class="text-yellow-500 text-lg font-black">Buy&Sell</span>
                            </a>
                        </div>
                        <div class ="items-center space-x-1">
                            <a href="#" class ="px-2 py-4 text-yellow-500 font-black text-lg border-b-4 border-green-500" >Home</a>
                            <a href="#" class ="px-2 py-4 text-yellow-500 font-black text-lg border-b-4 border-green-500">About</a>
                            <a href="#" class ="px-2 py-4 text-yellow-500 font-black text-lg border-b-4 border-green-500">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
       {% block content%}
       
       {% endblock %}
        
    </body>
</html>